@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    padding: 2rem;
    min-height: 200vh;
}
.outer-container {
    border: 2px dotted salmon;
    width: 75vw;
    height: 85vh;
    margin: 5rem auto;
}
.inner-container {
    border: 2px solid #00f;
    margin: 4rem;
    height: 80%;
}

.box {
    width: 150px;
    height: 150px;
    color: #fff;
    padding: 1rem;
}

.absolute {
    background-color: #00f;
    position: absolute;
}