@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    padding: 2rem;
}
.outer-container {
    border: 2px dotted salmon;
}
.inner-container {
    margin: 5rem;
    border: 2px dotted salmon;
    height: 60vh;
}